<div class="row">

    <div class="col-lg-6">
        <h1>Pharmacy</h1>
        <p>Our International Hospital has a fully equipped pharmacy to supply our patients and staff with all sorts of medication, as getting your needed medicine is an essential part of your treatment journey.


              <br><br><span class="span"> Our Pharmacy Services And Standards </span>
         <br> <br> <br>
         As-Salam International Hospital's pharmacy follows professional standards such as: 
<br><br>
       <br> -Provide all medications, both local and imported.
         
         <br>-Patients come first, so it's always a priority to provide all needed medications.
         
        <br> -Always Working with care, our staff is ready to provide patients with their needs.
         
        <br> -Medicines effective usage.
         
         <br>-Medication supply and safe administration.  
         
         
        <br><br><span class="span">As-Salam International Hospital Clinical Pharmacy</span>
            
           <br> <br>
           Pharmacists at As-Salam International Hospital provide clinical pharmacy services to inpatients and other clinical divisions such as emergency departments and outpatient clinics to save your effort and time.

The pharmacy works at the highest standards of medicine supply and storage to ensure the availability of your medicines whenever you need them.

Patients can feel safe knowing that their needed medicines and medical supplies will always be available and prepared for their use at our pharmacy.
           <br><br><span class="span">Check-up Programs at As-Salam International Hospital offers you and your family:</span>
            
           <br> Regular health check-ups for adults.
           <br>Heart check-up Programs.
           <br>Checks for diabetes.
           <br>Breast cancer screening.
           <br>Gastrointestinal Tract (GIT) Screening.
           <br>Periodical checks.

          
        </p>
    </div>
    <div class="col-lg-4">
        <img  src="../../../assets/imgs/img10.jpg"  class="d-block w-100 c-img" alt="...">
    </div>
    </div>
    <!--شوفي هتضيفي ايه ف الديف الفاضي-->
    <div>
    
    </div>
    <div class="map">
        <iframe id="mapp" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3435.0665606393873!2d31.006330014964124!3d30.57566638169218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7d6bf14e416e9%3A0xc49ca19e02abe2d2!2sFaculty%20of%20Computers%20and%20Information%20Menofia%20University!5e0!3m2!1sen!2seg!4v1678128793220!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
        