<div class="container mt-5 mb-5 text-center">
    <h1>Sign UP</h1>
    <form>
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Your First Name">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Your Last Name">
            </div>

            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Your Email">
            </div>

            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Your Mobile">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="password" class="form-control" placeholder="Enter Your Password">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="password" class="form-control" placeholder="Confirm Your Password">
            </div>
            

            <div class="col-lg-12 mt-2 mb-2">
                <button class="btn btn-md btn-dark">Submit</button>
            </div>
            
        </div>
    </form>
</div>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3435.0665606393873!2d31.006330014964124!3d30.57566638169218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7d6bf14e416e9%3A0xc49ca19e02abe2d2!2sFaculty%20of%20Computers%20and%20Information%20Menofia%20University!5e0!3m2!1sen!2seg!4v1678128793220!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>