<div class="row">

    <div class="col-lg-6">
        <h1>Accreditations And Affiliations
           <br> JCI Accreditation</h1>
        <p>As-Salam International Hospital has been accredited by the Joint Commission International organization (JCI) since 2015. JCI is a world-renowned healthcare Accreditor, considered as the Gold seal of approval which is a widely recognized benchmark representing the most comprehensive evaluation process in the healthcare industry. JCI accreditation is viewed as the gold standard in the global health care community

            As a patient or a family member, you may see the Gold Seal at the hospital's main entrances just to assure you of our commitment to delivering quality care in the safest environment and improving clinical outcomes with the best experience. 
            
            We continuously focus on improving our processes and enhancing efficiency with close monitoring and observation to all staff, as well as continuous training and education.
            
            Since accreditation programs improve quality outcomes, As-Salam International Hospital was granted both programs certifications in 2019 for Acute Myocardial Infarction (AMI) and Chronic Obstructive Pulmonary Disease (COPD). We are very much keen on delivering the best patient care demonstrated through accrediting programs and we are in pursuit of accrediting more programs in other different specialities such as; Neurosciences, Transplants programs (Kidney & Liver), oncology, and orthopaedics. As-Salam International Hospital management is committed to upholding compliance and safety standards to all patients thus abiding with the international benchmarks and guidelines of the JCI.
            
            As-Salam International Hospital is considered to be the third hospital worldwide and first in the Middle East to be granted clinical care certification by the JCI for the Chronic Obstructive Pulmonary Disease (COPD) and the nineteenth hospital worldwide to be granted clinical care certification by the JCI for the Acute Myocardial Infarction (AMI)
        <br><br><span class="span"> ISO 14001- Environmental Safety</span>
         <br> <br> <br>As-Salam International Hospital initiated its certification with ISO 14001- Environmental safety certification in 2020.

         Your safety and well-being is our priority, hence we take the implementation of practical aspects of environmental protection and safety to a higher level where we manage the environmental risks by decreasing resources consumptions, decreasing pollution, and segregating waste products for recycling to create a safe environmental friendly hospital for our patients and visitors.
            
            <br><br><span class="span"> HACCP – Food Safety</span>
            
           <br> <br>As-Salam International hospital has obtained the international certification of Hazard Analysis Critical Control Point (HACCP) System- Food Safety in 2020, which is an internationally recognized system for identifying and reducing the risks of hazards in food production. This system ensures the hospital commitment to standardized monitoring of the production process of food, safety management, good manufacturing practices in food hygiene according to best practices, controlling all production phases of food presented to; staff, patients, and visitors. In addition to setting strict policies and procedures to prevent any problems or hazards to ensure food processing safety and eliminating production variations. </p>
    </div>
    <div class="col-lg-4">
        <img  src="../../../assets/imgs/img3.jpg"  class="d-block w-100 c-img" alt="...">
    </div>
    </div>
    <!--شوفي هتضيفي ايه ف الديف الفاضي-->
    <div>
    
    </div>
    <div class="map">
        <iframe id="mapp" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3435.0665606393873!2d31.006330014964124!3d30.57566638169218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7d6bf14e416e9%3A0xc49ca19e02abe2d2!2sFaculty%20of%20Computers%20and%20Information%20Menofia%20University!5e0!3m2!1sen!2seg!4v1678128793220!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
        