<div class="container">

    <h1 class="head">How does Dr.Nerve Works!</h1>
    <p>we have two stakeholders one is the patient and the other is the doctor , at first  on the patient's side the patient fills a registration  form with his name , mobile, email and his address all the data is required then the patient receives the device, which is intended for him only, and another patient cannot use the same device , the device can access to his data.<br>
        When the patient enters into a violent epileptic seizure, several symptoms result: 
        <br>1- Change in heart rate measurement 
        <br>2- Change in the oxygen level in the blood 
        <br>3- Changes in body temperature 
        <br>4- Violent convulsions and shaking
        The device continuously records and stores all these measurements, and if these measurements agree with the conditions of the seizure symptoms, the device starts immediately to send these measurements to the doctor to take the appropriate action.<br>On the other hand, the doctor has a special system to deal with the patient. First, he has the data of all patients who filled out the data registration form. This system works to integrate the patient's personal data with the data coming from the device.
        <br>When an epileptic seizure occurs, the device sends the patient’s measurements, so the system integrates his personal data with the data coming from the device, then displays it on the doctor’s web page, and the data is accompanied by a sound alarm to alert the doctor.<br>
        The doctor reviews the data, and if the case is critical, the appropriate action is to call an ambulance  Therefore, there are two buttons in the system for a quick reaction, one of which sends a direct call to the ambulance and informs it of the registered address, and the other is just a confirmation of the patient's address via an email, and this is the best procedure to deal with the case, with the confirmation of a neurologist. <br>
        *Note*: -The measurements will be sent after 5 minutes of their occurrence, in order to confirm that the patient really needs help, and this period was also confirmed by a neurologist. 

    </p>
    
    <div class="head">
        <h1 class="intro">Take a look at DR.Nerve</h1>
         </div>

         <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="../../../assets/imgs/device1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Real Picture</h5>
        
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../../assets/imgs/device2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Real Picture</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../../assets/imgs/device3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Future Design</h5>
                </div>
            </div>



<!--<div class="intro">
    <h1>Take a Tour</h1>
    <p>Because we value your time, all medical services<br> including blood bank, radiology services, laboratory, outpatient clinics, pharmacy, state-of-the-art equipment, and the best health professionals in Egypt are available under one roof!

        <br>Take a quick tour with our 360 degrees photos & call 19885 for booking your visit now.</p>
</div>
<div class="row-lg-">
    <div class="col-lg-6">
       <img src="../../../assets/imgs/device1.jpg">
    </div>
    <div class="col-lg-6">
        <img src="../../../assets/imgs/device2.jpg">

    </div>

</div>
<div class="row"> 
    <div class="col-lg-6">
       <img src="../../../assets/imgs/device3.jpg">
    </div>
    <div class="col-lg-6">
        <img src="../../../assets/imgs/device4.jpg">

    </div>

</div>-->

