h1{color:var(--secondary-color);font-weight: bold;text-align: center;margin-top: 20px;}
p{color:rgb(70, 68, 68);margin-top: 40px;font-size: 20px;margin-left: 20px;}
.span{color: var(--secondary-color);font-weight: bold;}
.d-block{height: 35%;width:50% ;margin-top: 70%;margin-left: 25%;}