<div class="row">

    <div class="col-lg-6">
        <h1>Health Check-up Programs</h1>
        <p>Ensure the health of your body, and don't wait till you feel symptoms of illness. That is the idea of having general health check-up programs. 

            Our goal at As-Salam International Hospital is to provide you with all the medical care you could need to ensure your well-being. 
            
            We offer multiple health check-up programs to suit all patients, including periodical check-ups, annual check-ups, and some specific examinations.
            
            Health check-up programs are also known as preventative check-ups as they aim to detect any health problem at its earliest stage to apply ideal treatment, avoiding conditions getting worse.
              <br><br><span class="span"> Why Do You Need Check-up Programs? </span>
         <br> <br> <br>Check-up programs differ considerably on the individual's age and lifestyle, providing the necessary examinations to identify existing health risks early, accurately, and effectively.

         Following a professional protocolز
         
         
         
         Doctors at As-Salam International Hospital keep track of each patient's examinations. When necessary, doctors recommend additional tests by other specialists to provide a more accurate diagnosis.
         
         <br><br><span class="span">Types Of Check-up Programs</span>
            
           <br> <br>As-Salam International Hospital has plenty of health check-up programs with various options.

           Some people may need regular health check-ups, while others with chronic diseases like diabetes or heart disease need particular tests to keep their conditions under control.

           <br><br><span class="span">Check-up Programs at As-Salam International Hospital offers you and your family:</span>
            
           <br> Regular health check-ups for adults.
           <br>Heart check-up Programs.
           <br>Checks for diabetes.
           <br>Breast cancer screening.
           <br>Gastrointestinal Tract (GIT) Screening.
           <br>Periodical checks.

          
        </p>
    </div>
    <div class="col-lg-4">
        <img  src="../../../assets/imgs/img8.png"  class="d-block w-100 c-img" alt="...">
    </div>
    </div>
    <!--شوفي هتضيفي ايه ف الديف الفاضي-->
    <div>
    
    </div>
    <div class="map">
        <iframe id="mapp" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3435.0665606393873!2d31.006330014964124!3d30.57566638169218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7d6bf14e416e9%3A0xc49ca19e02abe2d2!2sFaculty%20of%20Computers%20and%20Information%20Menofia%20University!5e0!3m2!1sen!2seg!4v1678128793220!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
        