.myfoot{
    overflow: hidden;
    background-color:#000;
    padding: 10px 5px;
    position: sticky;
    top:100%
   
}
h1{
    color: #fff;
    font-size: 20px;
}
P{
    color: var(--primary-color);
    font-size: 14px;
    padding: 4px;
    
}
i{
    
    padding:0px 3px ;
}
a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    padding: 0px 4px;
}
a:hover{
    color: var(--primary-color);
}