<div class="container-fluid myfoot">
    <div class="row">
        <!--name-->
        <div class="col-lg-4">
            <h1>Epileptic Seizures Discovery</h1>
            <P>YOUR HEALTH IS YOUR WEALTH</P>
        </div>
        <!--nav-->
        <div class="col-lg-6">
            <a routerLink="">Home</a>
            <a routerLink="About us">About Us</a>
            <a routerLink="Services">Services</a>
            <a routerLink="Take A Tour">DR.Nerve</a>
            <a routerLink="Find A Doctor">Deal With Your Disease</a>
            <a routerLink="Our Team">Our Team</a>
            <a routerLink="Book Now">Registration</a>
            <!--<a routerLink="Contact us">Registration</a>-->
        </div>
        <!--social media-->
        <div class="col-lg-2">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>