<div class="row">

    <div class="col-lg-6">
        <h1>International Patients</h1>
        <p>Combining Luxury with exquisite service, As-Salam International Hospital in Egypt provides you with the best seamless medical service rooted in a combination of authentic quality and experience through the International Relations team.

            Every year, As-Salam International Hospital treats thousands of international patients traveling from the comfort of their homes to receive the best medical care at As-Salam International Hospital, through its highly skilled consultants and medical staff, with cutting edge technology.
            
            The International Relations team is actively involved in helping patients who are seeking treatment overseas, trying their best to make their journey as pleasant as possible. The team act as a single point of contact in Egypt for your queries regarding treatment & travel.
    
        <br><br><span class="span"> Goals and Objectives:</span>
         <br> <br> <br> • Providing the most convenient treatment cost with the best quality service & personalized care for our patients and their families across the globe.
            
            <br>• Ensuring that our patients get an excellent healthcare service while they are in Egypt.
            
            <br><br><span class="span"> Our International Relations Services:</span>
            
           <br> <br>The International Relations team are working 24/7 to respond and facilitate all your medical and non-medical inquiries:
            
            <br><br>• Hotel bookings.
            <br><br>• Booking appointments, checkups, and navigation process.
            <br><br>• Interpretation.
            <br><br>• Assistance in the visa application process.
            <br><br>• Provide you with a detailed list of treatment options and their respective financial brackets to help you decide what would be the most viable solution for you.
            <br><br>• Repatriation and travel assistance.
            <br><br>• Tourism packages.
            <br><br><span class="span"> Let the team do it for you:</span>
            <br>Our Hospital is contracted with the top International insurance companies and the International Relations team coordinators will directly contact your insurance provider to guarantee your payment for your stay according to your insurance policy.
        </p>
    </div>
    <div class="col-lg-4">
        <img  src="../../../assets/imgs/img6.jpg"  class="d-block w-100 c-img" alt="...">
    </div>
    </div>
    <!--شوفي هتضيفي ايه ف الديف الفاضي-->
    <div>
    
    </div>
    <div class="map">
        <iframe id="mapp" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3435.0665606393873!2d31.006330014964124!3d30.57566638169218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7d6bf14e416e9%3A0xc49ca19e02abe2d2!2sFaculty%20of%20Computers%20and%20Information%20Menofia%20University!5e0!3m2!1sen!2seg!4v1678128793220!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
        