<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""> <img src="../../../assets/imgs/88.png"  class="logo d-block w-100 c-img" alt="..."></a><h3>Epileptic Seizures</h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="About us" routerLinkActive="active-link">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Services" routerLinkActive="active-link">Services</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="Take A Tour" routerLinkActive="active-link">DR.Nerve</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="Find A Doctor" routerLinkActive="active-link">Deal With Your Disease</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Our Team" routerLinkActive="active-link">Our Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Book Now" routerLinkActive="active-link">Registration</a>
          </li>
         <!-- <li class="nav-item">
            <a class="nav-link" routerLink="Contact us" routerLinkActive="active-link">Registration</a>
          </li>-->
        </ul>
      </div>
    </div>
  </nav>