<div class="head">
    <h1 >First Aid</h1>
    <p>In Our International Hospital your journey will run smoothly as we have a wide scope of high-quality medical care <br>services either Inpatient or outpatient caters to satisfy your needs, dial 19885 for booking.</p>
    </div>
    <!--first icon-->
    
    <div class="icon2">
       <div class="imgs">
          <img src="../../../assets/imgs/e4.png"> 
        </div>
        <div class="prag">
            <!--<a routerLink="/service1"> --> <h1>How do you treat an epileptic seizure?<br><span class="pra">Avoid moving the patient unless necessary.</span></h1><!--</a>-->
        </div>
        
    
    </div> 
    <!--<a  routerLink="/service1"><button class="btn">Learn More</button></a>  -->
    <!--third icon-->
    
    <div class="icon3">
        <div class="imgs">
           <img src="../../../assets/imgs/e1.png">  
         </div>
         <div class="prag" data-text="Outpatient Center">
         <h1>How do you treat an epileptic seizure?<br><span class="pra">Place a soft piece under the victim's head<br></span></h1>
         </div>
     </div> 
     
     <!--forth icon-->
    
    <div class="icon4">
        <div class="imgs">
          <img src="../../../assets/imgs/e6.png">  
         </div>
         <div class="prag" data-text="Outpatient Center">
              <h1>How do you treat an epileptic seizure?<br><span class="pra">Keep sharp objects close to the patient.</span></h1>
         </div>
     </div> 
      
     <!--fifth icon-->
    
    <div class="icon5">
        <div class="imgs">
           <img src="../../../assets/imgs/e7.png">  
         </div>
         <div class="prag" data-text="Outpatient Center">
              <h1>How do you treat an epileptic seizure?<br><span class="pra">Gently move the casualty to one side. </span></h1>
         </div>
     </div> 
     
     <!--six icon-->
    
    <div class="icon6">
        <div class="imgs">
          <img src="../../../assets/imgs/e8.png"> 
         </div>
         <div class="prag" data-text="Outpatient Center">
              <h1>How do you treat an epileptic seizure?<br><span class="pra">Avoid putting anything in the patient's mouth.</span></h1>
         </div>
     </div> 
     
     <!--------------------------------------------------------------------------------------------------------------------------->
     <div class="head">
        <h1 >When will the ambulance arrive?</h1>
        <p>The ambulance must arrive before the critical period passes.</p>
        </div>

    <div class="icon2">
        <div class="imgs">
            <img src="../../../assets/imgs/e9.png">  
         </div>
         <div class="prag" data-text="Outpatient Center">
               <h1>When will the ambulance arrive?<br><span class="pra">If the seizure lasts more than 5 minutes.</span></h1>
         </div>
     </div>  
    
     <!--seven icon-->
    
  
     <div class="icon7">
        <div class="imgs">
         <img src="../../../assets/imgs/e1.png">  
         </div>
         <div class="prag" data-text="Outpatient Center">
     <h1>When will the ambulance arrive?<br><span class="pra">The patient's body was harmed during an epileptic seizure.</span></h1>
         </div>
     </div> 
     <div class="icon7">
        <div class="imgs">
         <img src="../../../assets/imgs/e10.png">  
         </div>
         <div class="prag" data-text="Outpatient Center">
     <h1>When will the ambulance arrive?<br><span class="pra">If the epileptic seizure repeats again.</span></h1>
         </div>
     </div>
     <div class="icon7">
        <div class="imgs">
         <img src="../../../assets/imgs/e11.png">  
         </div>
         <div class="prag" data-text="Outpatient Center">
     <h1>When will the ambulance arrive?<br><span class="pra">In the event that breathing does not return to normal.</span></h1>
         </div>
     </div> 
    
     <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3435.0665606393873!2d31.006330014964124!3d30.57566638169218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7d6bf14e416e9%3A0xc49ca19e02abe2d2!2sFaculty%20of%20Computers%20and%20Information%20Menofia%20University!5e0!3m2!1sen!2seg!4v1678128793220!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>