<div class="head">
<h1 >Medical Services</h1>
<p>In Our International Hospital your journey will run smoothly as we have a wide scope of high-quality medical care <br>services either Inpatient or outpatient caters to satisfy your needs, dial 19885 for booking.</p>
</div>
<!--first icon-->

<div class="icon2">
   <div class="imgs">
    <a routerLink="/service1">   <img src="../../../assets/imgs/immg1.png">  </a>
    </div>
    <div class="prag">
        <a routerLink="/service1">  <h1>Outpatient Center<br><span class="pra">Our Outpatient centre is composed of well-trained professional staff and eminent consultants.</span></h1></a>
    </div>
    

</div> 
<a  routerLink="/service1"><button class="btn">Learn More</button></a>  
<!--third icon-->

<div class="icon3">
    <div class="imgs">
     <a routerLink="/patient">   <img src="../../../assets/imgs/imgg2.png">  </a>
     </div>
     <div class="prag" data-text="Outpatient Center">
         <a routerLink="/patient">  <h1>Admission & In-patient Services<br><span class="pra">Our patient-experienced team members are meant to help our patients and their families with their appropriate arrangements,<br> All efforts are made to make sure that our patient’s journey in the hospital is easy and beneficial to them.</span></h1></a>
     </div>
 </div> 
 <a  routerLink="/patient"><button class="btn">Learn More</button></a> 
 <!--forth icon-->

<div class="icon4">
    <div class="imgs">
     <a routerLink="/service2">   <img src="../../../assets/imgs/immg2.png">  </a>
     </div>
     <div class="prag" data-text="Outpatient Center">
         <a routerLink="/service2">  <h1>Home Visits Servicer<br><span class="pra">A medical team equipped with all specialities to diagnose and take care of you while you are at the comfort of your home, which lessens the chances of transmitting the infection to your family and community.</span></h1></a>
     </div>
 </div> 
 <a  routerLink="/service2"><button class="btn">Learn More</button></a> 
 <!--fifth icon-->

<div class="icon5">
    <div class="imgs">
     <a routerLink="/service3">   <img src="../../../assets/imgs/imgg3.png">  </a>
     </div>
     <div class="prag" data-text="Outpatient Center">
         <a routerLink="/service3">  <h1>Health Check-up Programs<br><span class="pra">We provide you with all types of exams with the latest medical equipment to ensure the doctor's help in diagnosing and assessing the condition. </span></h1></a>
     </div>
 </div> 
 <a  routerLink="/service3"><button class="btn">Learn More</button></a> 
 <!--six icon-->

<div class="icon6">
    <div class="imgs">
     <a routerLink="/pharmacy">   <img src="../../../assets/imgs/imm4.png">  </a>
     </div>
     <div class="prag" data-text="Outpatient Center">
         <a routerLink="/pharmacy">  <h1>Pharmacy<br><span class="pra">Our hospital provides its clients and staff with a huge and fully equipped pharmacy to serve all their medical needs, and the pharmacy is also distinguished by providing all imported and local medicines.</span></h1></a>
     </div>
 </div> 
 <a  routerLink="/pharmacy"><button class="btn">Learn More</button></a> 
 <!--second icon-->

<div class="icon2">
    <div class="imgs">
     <a routerLink="/second">   <img src="../../../assets/imgs/earth.png">  </a>
     </div>
     <div class="prag" data-text="Outpatient Center">
         <a routerLink="/second">  <h1>International Relations Department<br><span class="pra">Our hospital treats thousands of international patients. Our International Relations Department will be able to assist you with all the help you need whether you are arriving for a procedure or any other service.</span></h1></a>
     </div>
 </div>  <a  routerLink="/second"><button class="btn">Learn More</button></a> 

 <!--seven icon-->

<div class="icon7">
    <div class="imgs">
     <a routerLink="/first">   <img src="../../../assets/imgs/infec.png">  </a>
     </div>
     <div class="prag" data-text="Outpatient Center">
         <a routerLink="/first">  <h1>Infection Control Department<br><span class="pra">One of As-Salam International Hospital's greatest advantages and strength-points is being equipped with a highly-skilled Infection control team that constantly ensures a safe and healthy working environment for our employees as well as a safe and infection-free hospital for our patients and visitors.</span></h1></a>
     </div>
 </div> 
 <a  routerLink="/first"><button class="btn">Learn More</button></a> 

 <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3435.0665606393873!2d31.006330014964124!3d30.57566638169218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7d6bf14e416e9%3A0xc49ca19e02abe2d2!2sFaculty%20of%20Computers%20and%20Information%20Menofia%20University!5e0!3m2!1sen!2seg!4v1678128793220!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>