<div class="container">
<div class="head">
    <h1 class="intro">Take a look about our team</h1>
    <p class="intro">We have a distinguished team of doctors working on the comfort of patients and maintaining their health<br>
        We also have a distinguished team of nursing staff who provide excellent services to patients</p>
    <p class="intro">As we seek to continuously improve quality, we take great pride in caring for the community as our family, which includes creating the best possible environment for everyone associated with Alameda Healthcare, including our patients and staff.<br> As we are considered one of the main centres of referral for quality Healthcare in Egypt, we are devoted to giving our patients the best service to keep well and to seriously help them feel better.</p> <br> <br> <br> <br> <br>   
</div><div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="../../../assets/imgs/cards/11.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mark Spector</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/imgs/cards/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">layla Abdallah</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/imgs/cards/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hermany Granger</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/imgs/cards/4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Steven Grand</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="../../../assets/imgs/cards/5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Loki Oden</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/imgs/cards/6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Anns Hamth</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/imgs/cards/7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Stefen Salvator</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/imgs/cards/8.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Klaus Mikelson</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/imgs/cards/9.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Kol Gilbert</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>
        </div>
        </div>
      </div>
     
  </div>
  <h1 class="nurses">Our Doctors</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="../../../assets/imgs/cards/a.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">DR-Mark Spector</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/imgs/cards/b.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">DR-layla Abdallah</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/imgs/cards/c.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">DR-Hermany Granger</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/imgs/cards/d.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">DR-Steven Grand</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="../../../assets/imgs/cards/e.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">DR-Loki Oden</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/imgs/cards/s.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">DR-Anna Hamth</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/imgs/cards/f.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">DR-Stefen Salvator</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/imgs/cards/g.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">DR-Klaus Mikelson</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/imgs/cards/h.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">DR-Kol Gilbert</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a routerLink="/Book Now"> <button class="btn">&nbsp;&nbsp;view more</button></a>
        </div>
        </div>
      </div>
     
  </div>
</div>
 <!--location -->
 <div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3435.0665606393873!2d31.006330014964124!3d30.57566638169218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7d6bf14e416e9%3A0xc49ca19e02abe2d2!2sFaculty%20of%20Computers%20and%20Information%20Menofia%20University!5e0!3m2!1sen!2seg!4v1678128793220!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>