<div class="row">

    <div class="col-lg-6">
        <h1>Home Visits Service</h1>
        <p>As-Salam International Hospital's provision of Home Visits service includes a professional medical staff equipped with all the needed technology to provide you with the best diagnoses without needing to leave your home.  
        <br><br><span class="span"> Home Visits Of All Medical Specialities </span>
         <br> <br> <br>As-Salam International Hospital offers Home Visit Service to patients anywhere in Greater Cairo.

         The goal of Home Visits Service is to reduce the chances of infection or getting worse when leaving your home. Hence, As-Salam International Hospital's medical staff will reach you and provide the healthcare services you need at the comfort of your home. 
         
         You can ask for a Home Visit in various medical specialities like Paediatric, ENT, Internal Medicine, and several others.
         
         Our medical team guarantees the highest standards of healthcare services that match the JCI accreditation of As-Salam International Hospital.
            <br><br><span class="span">The Process Of Home Visits</span>
            
           <br> <br>Some patients need General practitioners who treat common medical conditions and refer patients to As-Salam International Hospital for urgent treatment. Others might need a Medical Follow-Up from a specialized doctor after a surgery or for chronic diseases.

           The patient can call As-Salam International Hospital to ask for a home visit, explain the symptoms, and then proceed with our agents to schedule a visit to the patient's address.
           
           When a patient needs more medical care or examination, the medical team reports to the hospital and book an appointment in a proper department. </p>
    </div>
    <div class="col-lg-4">
        <img  src="../../../assets/imgs/img7.jpg"  class="d-block w-100 c-img" alt="...">
    </div>
    </div>
    <!--شوفي هتضيفي ايه ف الديف الفاضي-->
    <div>
    
    </div>
    <div class="map">
        <iframe id="mapp" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3435.0665606393873!2d31.006330014964124!3d30.57566638169218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7d6bf14e416e9%3A0xc49ca19e02abe2d2!2sFaculty%20of%20Computers%20and%20Information%20Menofia%20University!5e0!3m2!1sen!2seg!4v1678128793220!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
        