<div class="container">
    <div class="center">
        <h1>INTRODUCTION</h1>
    </div>
</div>
<div class="about">
    <p>Alameda Healthcare is a corporate entity operating in the healthcare field aiming to lead the private healthcare sectors in Egypt MENA Region, East Europe,<br> and East Asia into new frontiers building on Alameda’s vast experience and reputation<br>

        As-Salam International Hospital (Maadi) is part of the Alameda healthcare group which is a network that has various healthcare subsidiaries all over Egypt<br> which also include affiliation with Royal free hospital in London,<br> outpatient clinics, diagnostic centers, specialist centers, pharmacies, International Relations Department to support all our expats’ medical needs <br> (including facilitating their visa application, bookings at contracted hotels and concierge services),<br> and video conferencing with our eminent consultants 24/7 through our Tele-medicine service and the German Rehabilitation Center</p>
        <p>Alameda Healthcare is a corporate entity operating in the healthcare field aiming to lead the private healthcare sectors in Egypt MENA Region, East Europe,<br> and East Asia into new frontiers building on Alameda’s vast experience and reputation<br>

            As-Salam International Hospital (Maadi) is part of the Alameda healthcare group which is a network that has various healthcare subsidiaries all over Egypt<br> which also include affiliation with Royal free hospital in London,<br> outpatient clinics, diagnostic centers, specialist centers, pharmacies, International Relations Department to support all our expats’ medical needs <br> (including facilitating their visa application, bookings at contracted hotels and concierge services),<br> and video conferencing with our eminent consultants 24/7 through our Tele-medicine service and the German Rehabilitation Center</p>    
</div>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3435.0665606393873!2d31.006330014964124!3d30.57566638169218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7d6bf14e416e9%3A0xc49ca19e02abe2d2!2sFaculty%20of%20Computers%20and%20Information%20Menofia%20University!5e0!3m2!1sen!2seg!4v1678128793220!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>