
.center h1{color:var(--primary-color);font-weight: bolder;}
.center{margin-left:400px ;margin-top: 100px;}
.about{margin-top: 50px;color:#000;margin-left: 80px; font-size: larger;}
.map{margin-top: 70px ;justify-content: center;margin-left: 350px;}