<div class="form">
  <div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button (click)="removemessage()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form id="sform" class="row g-3" [formGroup]="addpatient" (ngSubmit)="SaveData()">
    <h5>Please Fill The Form*</h5>
    <div class="col-md-12">
      <label for="validationDefault01" class="form-label"> Enter YOUR Name *</label>
      <input type="text" class="form-control" id="validationDefault01" value="Mark" required formControlName="name">
    </div>
   

    <div class="col-md-4">
      <label for="validationDefault03" class="form-label">Mobile Number | رقم الهاتف *</label>
      <input type="text" class="form-control" id="validationDefault03" required formControlName="mobile">
    </div>
    <div class="col-md-4">
      <label for="validationDefault03" class="form-label">Email | البريد الإلكتروني *</label>
      <input type="text" class="form-control" id="validationDefault03" required formControlName="email">
    </div>
    <div class="col-md-4">
      <label for="validationDefault03" class="form-label">Address | العنوان</label>
      <textarea for="validationDefault03" class="form-label" formControlName="address"></textarea>
    </div>


    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
</div>